/* ==========================================================================
   VARIABLES DE COLOR INSTITUCIONALES (Globales)
   ========================================================================== */
:root {
    --primary-green: #8fba42;
    --secondary-green: #1b371f;
    --light-green: #c2d997;
    --accent-green: #1e8445;
    --text-dark: #2C3E50;
    --text-muted: #5D6D7E;
    --border-radius: 6px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --border-color: #D5DBDB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', system-ui, -apple-system, 'Helvetica Neue', sans-serif;
    color: var(--text-dark);
    min-height: 100vh;
    background-color: #fbf5df;
    /* Asegúrate de tener esta imagen en tu carpeta public/ o quita la regla si usas un color sólido */
    // background-image: url('/textura-fondo.png'); 
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 400px 400px;
}